# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
jarvis-venv/
venv/

# Build artifacts
build/
build-python/
dist/
anime-jarvis-ai/dist/
anime-jarvis-ai/dist-python/

# Node
node_modules/
anime-jarvis-ai/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
logs/

# Other
.DS_Store
